<%= form_for @actor do |f| %>
    <div>
        <%= f.label :name %> 
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :bio %> 
        <%= f.text_area :bio %>
    </div>
    <div>
        <%= f.label :birth_date %> 
        <%= f.text_area :birth_date %>
    </div>
    <div>
        <%= f.label :birth_place %> 
        <%= f.text_area :birth_place %>
    </div>
    <div>
        <%= f.label :image_url %> 
        <%= f.text_area :image_url %>
    </div>
    <div>
        <%= f.label :alive %> 
        <%= f.text_area :alive %>
    </div>
    <div>
        <%= f.label :death_date %> 
        <%= f.text_area :death_date %>
    </div>
    <div>
        <%= f.label :death_place %> 
        <%= f.text_area :death_place %>
    </div>
     <div>
        <%= f.submit %>
    </div>
<% end %>